.movies .movie {
    width: 400px;
    height: 600px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #181818;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  .movie ul {
    list-style:none;
    margin:0;
    padding:0;
}

.movie li {
    /* margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0; */
    display: inline;
    border: 1px solid #3a3a3a;
    padding: 8px;
    border-radius: 5px;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    font-size: 4px;
    color: black;
}

.movie p {
    margin: 1;
    padding: 0;
    border : 0;
    float: left;
}
    
  .movie img {
    margin:auto;
    width:250px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
 
  .movie title {
        font-size:20px;
        text-decoration: none;
  }
  
  
  @media only screen and (max-width:1270px) {
    .movie img {
      width:98%;
    }
    .movies .movie{ 
      margin: 5vh 2vw;
      width:30vw;
      height: auto;
    }
  }
  
  @media only screen and (max-width:768px) {
    .movie img {
      width:99%;
    }
    .movies .movie{ 
      margin: 3vh 2vw;
      width: 70vw;
      height: auto;
    }
  }

















  